@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="richtext-container aem-GridColumn aem-GridColumn--default--12">
    <section class="richtext " id="section24">
        <div class="container richtext-box">
            <div class="richtext-container__richtext-content">
                <div>
                    <h3><b>TERMOS DE USO E POLÍTICA DE PRIVACIDADE</b></h3>
                    <br>
                    <p>O XPTO Bank Holding S.A., XPTO Bank S.A. e as demais empresas do conglomerado XPTO, que nesses Termos de Uso e Política de Privacidade chamamos de “Conglomerado XPTO Bank”, “XPTO Bank” ou apenas “nós”, têm como propósito contribuir para que as pessoas e as empresas possam realizar sonhos e investir em grandes ideias. Tudo sempre feito de forma transparente, ética e responsável.</p>
                    <p>Assim, apresentamos os nossos Termos de Uso e a nossa Política de Privacidade para que os nossos Usuários&nbsp;e titulares de dados pessoais compreendam facilmente as condições para uso dos nossos Sites e Aplicativos, e a forma como coletamos e usamos suas informações em nossas atividades.</p>
                    <p>Se tiver dúvidas, entre em contato conosco pelos nossos canais de atendimento.</p>
                    <br>
                    <br>
                    <h3><b>ÍNDICE</b></h3>
                    <h4><b>Termos de Uso</b></h4>
                    <p>1. Atualização dos Termos de Uso</p>
                    <p>2. Termos e condições de uso específicos</p>
                    <p>3. Acesso a conteúdo restrito</p>
                    <p>4. Conteúdos enviados por Usuários</p>
                    <p>5. Links para sites e aplicativos de terceiros</p>
                    <p>6. Como nossos Sites e Aplicativos não devem ser utilizados</p>
                    <p>7. Responsabilidades</p>
                    <p>8. Propriedade Intelectual</p>
                    <p>9. Suspensão de acesso</p>
                    <p>10. Legislação aplicável</p>
                    <br>
                    <p>&nbsp;&nbsp;</p>
                    <h3><b>TERMOS DE USO</b></h3>
                    <h4><b>Estes Termos de Uso são aplicáveis a todos os Sites e Aplicativos do XPTO Bank e a todos que acessam os nossos Sites e Aplicativos.</b></h4>
                    <h4><b>Ao acessar os Sites e Aplicativos, você expressamente aceita e concorda com as disposições destes Termos de Uso para todos os Sites e Aplicativos do XPTO Bank. Por conta disso, você deve ler atentamente esses Termos de Uso antes de usar os nossos Sites e Aplicativos. Caso você não concorde com os Termos de Uso, você não deve usar os nossos Sites e Aplicativos.</b></h4>
                    <h4>&nbsp;</h4>
                    <br>
                    <h3><b>1. ATUALIZAÇÃO DOS TERMOS DE USO</b></h3>
                    <p>Lembramos que os Termos de Uso, assim como os conteúdos e as funcionalidades dos nossos canais, poderão ser atualizados a qualquer momento por razões legais, pelo uso de novas tecnologias e funcionalidades e sempre que o XPTO Bank entender que as alterações são necessárias.&nbsp;<b>Ao continuar a acessar nossos Sites e Aplicativos após as alterações, que serão publicadas nos Sites e Aplicativos, você concorda com as alterações também.</b></p>
                    <br>
                    <br>
                    <h3><b>2. TERMOS E CONDIÇÕES DE USO ESPECÍFICOS</b></h3>
                    <p>Além desses Termos de Uso e da Política de Privacidade, alguns Sites e Aplicativos podem ter serviços e funcionalidades específicos e termos e condições&nbsp;próprios ou adicionais para a sua utilização. Nesse caso, os termos adicionais estarão disponíveis em referidos Sites e Aplicativos e serão aplicáveis se você usar tais serviços e funcionalidades.</p>
                    <br>
                    <br>
                    <h3><b>3. ACESSO A CONTEÚDO RESTRITO</b></h3>
                    <p>Alguns dos nossos Sites e Aplicativos possuem área de conteúdo aberto e de conteúdo restrito. Para ter acesso ao conteúdo restrito, pode ser necessário que o Usuário faça um cadastro fornecendo algumas informações pessoais para a criação de um login e senha.</p>
                    <p>Fique atento se as informações fornecidas estão corretas, pois você é responsável pela veracidade delas. Caso haja alguma inconsistência, isso pode impactar no seu acesso ao Site ou ao Aplicativo.</p>
                    <br>
                    <h4><b>Como meus dados de cadastro são utilizados?</b></h4>
                    <p>Você pode conferir os Dados Pessoais coletados e como são usados em nossa Política de Privacidade.</p>
                    <br>
                    <h4><b>Posso compartilhar meu login, senha e Dispositivo de Segurança com terceiros?</b></h4>
                    <p>Somente você pode utilizar o seu login, senha e itoken, sendo assim proibido o compartilhamento com terceiros. Note que o seu acesso é pessoal e intransferível, e você é inteiramente responsável pela guarda, sigilo e bom uso do seu login, senha e itoken.</p>
                    <br>
                    <h4><b>O que é Touch ID, Face ID e Fingerprint?</b></h4>
                    <p>O Touch ID e o Fingerprint são sensores de identidade por impressão digital, já o Face ID é um sensor de reconhecimento facial. Os três facilitam a autenticação e reconhecimento do Usuário.</p>
                    <br>
                    <h4><b>Posso utilizar os sensores de autenticação e reconhecimento do Touch ID, Face ID e Fingerprint para fazer login nos Aplicativos do XPTO Bank?</b></h4>
                    <p>Estas funcionalidades estão disponíveis para alguns Aplicativos, dependendo do seu dispositivo e da versão do sistema operacional do seu dispositivo. Por meio delas, você poderá acessar sua conta digitando seus dados de acesso, como números de agência e conta ou cartão de crédito, por exemplo, e utilizar a impressão digital ou o reconhecimento facial, ao invés de digitar a sua senha eletrônica, desde que uma dessas funcionalidades esteja cadastrada e ativada no sistema operacional do seu dispositivo.&nbsp;Esses recursos não substituirão sua senha do cartão ou o dispositivo de segurança na utilização das outras funções dos Aplicativos.</p>
                    <p>Lembre-se que qualquer pessoa que tiver a impressão digital ou a face cadastrada para uso do seu celular ou&nbsp;outro dispositivo poderá ter acesso à parte logada dos Aplicativos do XPTO Bank, caso você habilite o acesso com Touch ID, Face ID ou Fingerprint. Você é responsável pela impressão digital ou face cadastrada no seu celular ou dispositivo, inclusive por habilitar ou desabilitar essa função para acessar os Aplicativos do XPTO Bank.</p>
                    <br>
                    <h4><b>Posso desativar as funções de Touch ID, Face ID e Fingerprint para logar nos Aplicativos? Como funciona?</b></h4>
                    <p>Sim, é possível desabilitar o acesso com o Touch ID, Face ID e Fingerprint nas configurações da área logada do Aplicativo. Já a alteração da impressão digital ou face cadastrada deve ser feita nas configurações do sistema operacional do seu celular ou&nbsp;dispositivo.</p>
                    <p>Não temos acesso às informações de impressão digital ou de reconhecimento facial cadastradas em seu celular ou dispositivo para acessar os Aplicativos, pois estas informações são mantidas apenas pelas empresas desenvolvedoras dos sistemas operacionais, de acordo com os termos de uso e as políticas de privacidade de cada empresa. Considere também que estas informações são diferentes dos dados biométricos capturados nas agências ou de outra forma pelo XPTO Bank para&nbsp;fins de segurança no acesso ou na movimentação da sua conta corrente,&nbsp;ou ainda em outros produtos e serviços do XPTO Bank.</p>
                    <br>
                    <br>
                    <h3><b>4. CONTEÚDOS ENVIADOS POR USUÁRIOS</b></h3>
                    <p>Alguns de nossos Sites e Aplicativos podem permitir que os Usuários enviem conteúdos como comentários, imagens, mensagens, fotos etc., para divulgação em áreas de conteúdo aberto dos Sites e dos Aplicativos. Para estes casos, os conteúdos enviados e a identificação do seu perfil, se houver, poderão ser visualizados por outros Usuários, atendendo sempre às normas de sigilo bancário.</p>
                    <p>Pode também ser possível ao Usuário enviar conteúdo, como fotos, documentos, comentários e outras mensagens para fins de cadastro, atendimento, uso de serviços disponíveis nos Sites e Aplicativos ou outras finalidades. Nesses casos, os conteúdos enviados não ficarão disponíveis em áreas de conteúdo aberto dos Sites e Aplicativos.</p>
                    <p>Lembramos que, em qualquer dos casos, os conteúdos enviados serão de responsabilidade de quem os enviou.</p>
                    <br>
                    <br>
                    <h3><b>5. LINKS PARA SITES E APLICATIVOS DE TERCEIROS</b></h3>
                    <p>Nossos Sites e Aplicativos podem conter links para sites e aplicativos de terceiros. Note que dentro destes sites e aplicativos você estará sujeito a outros termos de uso e a outras políticas de privacidade. Nossos Termos de Uso e Política de Privacidade não são válidos nos sites e aplicativos de terceiros. A existência desses links não significa nenhuma relação de endosso ou de patrocínio entre o XPTO Bank e esses terceiros, e o XPTO Bank não tem nenhuma responsabilidade com relação a tais terceiros.</p>
                    <br>
                    <br>
                    <h3><b>6. COMO NOSSOS SITES E APLICATIVOS NÃO DEVEM SER UTILIZADOS</b></h3>
                    <p>Fique atento às seguintes práticas que vão contra as nossas condições de uso:</p>
                    <p>· Praticar qualquer ato ilícito, violar direitos do XPTO Bank ou de terceiros e violar a legislação vigente;</p>
                    <p>· Upload, envio ou transmissão de qualquer conteúdo erótico, pornográfico, obsceno, calunioso, difamatório, de violência física ou moral, com apologia ao crime, uso de drogas, consumo de bebidas alcoólicas ou produtos para fumo, bem como que promova ou incite o ódio, atividades ilegais, o preconceito ou qualquer outra forma de discriminação por qualquer motivo;</p>
                    <p>· Usar qualquer sistema/aplicação automatizada para realizar consultas, acessos ou qualquer outra operação massificada, para qualquer finalidade, sem autorização do XPTO Bank;</p>
                    <p>· Praticar atos que prejudiquem qualquer Site, Aplicativo e equipamento do XPTO Bank e de outros Usuários e terceiros, incluindo por meio de vírus,&nbsp;<i>trojans, malware, worm, bot, backdoor, spyware, rootkit</i>, ou qualquer outro meio com este fim.</p>
                    <br>
                    <br>
                    <h3><b>7. RESPONSABILIDADES</b></h3>
                    <p>Você como Usuário é responsável:</p>
                    <p>·&nbsp;Por todas as suas ações ou omissões realizadas nos nossos Sites e Aplicativos;</p>
                    <p>·&nbsp;Pelos conteúdos que você enviou e/ou transmitiu nos Sites e Aplicativos; e</p>
                    <p>·&nbsp;Pela reparação de danos causados ao XPTO Bank, terceiros ou outros Usuários, a partir do seu acesso e uso dos nossos Sites e Aplicativos.</p>
                    <p>Desta forma, não nos responsabilizamos pelos itens citados acima e tampouco por indisponibilidades e falhas técnicas do sistema dos Sites e Aplicativos. Considere também que conteúdos enviados e/ou transmitidos por Usuários e/ou terceiros não representam a opinião ou a visão do XPTO Bank.</p>
                    <br>
                    <br>
                    <h3><b>8. PROPRIEDADE INTELECTUAL</b></h3>
                    <p>Os seguintes itens pertencem ao XPTO Bank e somente podem ser usados com sua prévia e expressa autorização:</p>
                    <p>· Todos os softwares, aplicativos ou funcionalidades criados, produzidos ou contratados pelo XPTO Bank para os Sites e Aplicativos, assim como sua identidade visual e conteúdo;</p>
                    <p>· Os nomes das empresas, marcas, patentes, nomes de domínio, slogans, propagandas ou qualquer sinal utilizado para distinguir o que é do XPTO Bank inseridos nos Sites e Aplicativos.</p>
                    <p>No caso de conteúdos que você enviar ou transmitir pelos Sites e Aplicativos, você autoriza o XPTO Bank a utilizar os direitos intelectuais sobre eles em caráter irrevogável, sem qualquer restrição ou limitação de qualquer natureza. Mas não se preocupe: a utilização, pelo XPTO Bank, destes conteúdos enviados por você observará o previsto no item 4 dos nossos Termos de Uso. Você também garante que os conteúdos por você enviados não infringem direitos de terceiros.</p>
                    <br>
                    <br>
                    <h3><b>9. SUSPENSÃO DE ACESSO</b></h3>
                    <p>A qualquer momento, sem aviso prévio ou posterior, o XPTO Bank poderá suspender, cancelar ou interromper o acesso aos Sites e Aplicativos, inclusive se o uso destes canais contrariar o disposto neste documento.</p>
                    <br>
                    <p><b>&nbsp;</b></p>
                    <h3><b>10. LEGISLAÇÃO APLICÁVEL</b></h3>
                    <p>A legislação brasileira é aplicável a estes Termos de Uso e Política de Privacidade.</p>
                    <br>
                    <p><b>&nbsp;</b></p>
                    <h3><b>POLÍTICA DE PRIVACIDADE</b></h3>
                    <p>A privacidade, a proteção de Dados Pessoais e o seu tratamento de forma transparente, ética, segura e responsável são valores essenciais para nós.</p>
                    <p>Esta Política de Privacidade (ou apenas “Política”) explica como as empresas do Conglomerado XPTO Bank, na qualidade de Controladores de Dados Pessoais, coletam, usam, compartilham ou de outra forma tratam informações e Dados Pessoais de pessoas físicas, inclusive de clientes e de terceiros, para o desempenho de nossas atividades, incluindo pelos nossos Sites e Aplicativos. Aqui você também encontra informações sobre os seus direitos em relação aos seus Dados Pessoais, de acordo com a LGPD - Lei Geral de Proteção de Dados Pessoais (Lei nº 13.709/18), e demais legislações aplicáveis.</p>
                    <br>
                    <br>
                    <h3><b>ÍNDICE</b></h3>
                    <h4><b>Política de Privacidade</b></h4>
                    <p>1. Atualização da Política de Privacidade</p>
                    <p>2. Quais informações utilizamos e como as coletamos?</p>
                    <p>3. Para que usamos os seus dados?</p>
                    <p>4. As informações podem ser compartilhadas?</p>
                    <p>5. Sobre os Cookies</p>
                    <p>6. Transferência internacional de dados</p>
                    <p>7. Por quanto tempo mantemos seus dados?</p>
                    <p>8. Segurança dos dados</p>
                    <p>9. Seus direitos</p>
                    <p>10. Encarregado de Proteção de Dados</p>
                    <p>11. Glossário</p>
                    <br>
                    <br>
                    <h3><b>1. ATUALIZAÇÃO DA POLÍTICA DE PRIVACIDADE</b></h3>
                    <p>Sempre que o XPTO Bank entender necessário, a Política de Privacidade poderá sofrer alterações que serão publicadas em nossos Sites e Aplicativos. Essas alterações serão válidas, eficazes e vinculantes após a nova versão ser divulgada nos nossos Sites e Aplicativos ou serem comunicadas de qualquer outra forma a você.</p>
                    <br>
                    <br>
                    <h3><b>2. QUAIS INFORMAÇÕES UTILIZAMOS E COMO AS COLETAMOS?</b></h3>
                    <p>Nós tratamos Dados Pessoais de quem é ou foi nosso cliente ou teve algum relacionamento conosco, foi ou é representante, procurador, empregado, sócio de algum cliente, empresa ou entidade com a qual nos relacionamos, realizou alguma transação conosco ou com nossos clientes, de pessoas com as quais pretendemos nos relacionar ou outros titulares de Dados Pessoais.</p>
                    <p>Os Dados Pessoais que tratamos variam de acordo as finalidades de uso, inclusive as indicadas nessa Política, e com as atividades que realizamos. Esses Dados Pessoais incluem dados cadastrais, financeiros e transacionais, tais como:</p>
                    <br>
                    <p>·&nbsp;<b>Dados cadastrais</b>: nome, data de nascimento, sexo, RG, CPF e/ou outros documentos de identificação, tais como carteira de habilitação, foto, endereço residencial e comercial, telefones residencial, comercial e celular, e-mail, profissão, ocupação, estado civil, nacionalidade, naturalidade, PEP – pessoa politicamente exposta, entre outros.</p>
                    <p>·&nbsp;<b>Dados Pessoais Sensíveis</b>: dados biométricos, inclusive facial e/ou digital, ou outros dados pessoais sensíveis, de acordo com a legislação aplicável. &nbsp;Recebemos informações sobre validação biométrica de terceiros que prestam serviço de autenticação e validação da identidade, para fins de prevenção à fraude e segurança.</p>
                    <p>·&nbsp;<b>Dados financeiros e transacionais</b>: informações sobre operações e transações bancárias, financeiras e de pagamento, produtos e serviços contratados ou que se pretenda contratar e sua utilização (inclusive&nbsp; produtos financeiros, bancários, de crédito, financiamento, câmbio, investimento, seguros, previdência, capitalização, consórcio, cartão de crédito e serviços de pagamento, entre outros; nossos ou de outras instituições financeiras)</p>
                    <p>·&nbsp;<b>Dados sobre terceiros</b>: filiação, representantes, representados, garantidor, contrapartes, procuradores, colaboradores, sócios ou beneficiários de produtos e serviços, como por exemplo de seguros, previdência, cartão de crédito e pagamento.</p>
                    <p>·&nbsp;<b>Informações sobre seus dispositivos</b>: informações sobre o seu dispositivo (tais como Advertising ID e informações técnicas, como sistema operacional, tamanho de tela), conexão (tais como data, hora e Endereço IP, rede utilizada), identificação do dispositivo, uso do dispositivo. Também poderemos coletar, se você nos autorizar pelos nossos Aplicativos, sua geolocalização, para usarmos para prevenção à fraude e segurança, proteção do crédito, indicarmos dependências próximas e fazermos ofertas de produtos e serviços para você.</p>
                    <p>·&nbsp;<b>Informações que acessamos para te entregar uma funcionalidade</b>: caso você autorize e para possibilitar determinadas funcionalidades de nossos Sites e Aplicativos, como quando tratamos suas fotos e dados de contatos para a criação e envio de comprovantes de pagamento.</p>
                    <p>·&nbsp;<b>Informações sobre hábitos de navegação</b>: páginas e funcionalidades acessadas em nossos Sites e Aplicativos, quantidade de cliques, páginas e aplicativos que originaram o acesso aos nossos Sites e Aplicativos (por exemplo, se você acessar um site que possuir um link para os nossos Sites e Aplicativos, ou se você acessar páginas de terceiros a partir de links nos nossos Sites e Aplicativos).</p>
                    <p>·&nbsp;<b>Dados de mídias e plataformas sociais</b>: interações que você possa ter com nossas redes sociais, tais como Facebook, Twitter, Instagram, LinkedIn e YouTube.</p>
                    <p>·&nbsp;<b>Dados relacionados a situação financeira:&nbsp;</b>podemos acessar os dados sobre sua situação financeira ou de crédito, tais como renda, patrimônio, negativação, dados do cadastro positivo, inclusive dados detalhados de cadastro positivo ou dados de Sistema de Informações de Crédito do Banco Central, de acordo com a legislação aplicável.</p>
                    <p>Os dados podem ser fornecidos diretamente por você, serem coletados em decorrência da prestação de serviços ou fornecimento de produtos pelo XPTO Bank a você (ou a você relacionados), ou podem ser fornecidos por outras empresas do Conglomerado XPTO Bank ou por fontes externas legítimas, como parceiros estratégicos, corretoras, inclusive de valores e seguros, fornecedores, prestadores de serviços, outras instituições do sistema financeiro, bureaus de crédito, órgãos públicos, correspondentes e empresas ou órgãos com os quais o XPTO Bank ou você possua vínculo ou algum tipo de relação direta ou indireta. Também podemos obter Dados Pessoais e outras informações de fontes públicas e/ou acessíveis publicamente, como Internet, meios de comunicação, mídias sociais e registros públicos e de outras fontes, conforme permitido na legislação aplicável.</p>
                    <p>A seguir, indicamos alguns exemplos dessas situações.</p>
                    <br>
                    <p>·&nbsp;<b>Dados podem ser fornecidos por você</b>, por exemplo, no preenchimento de cadastros, formulários, propostas, simulações, adesões, contratações, acessos, procura ou manifestação de interesse em produtos e serviços.</p>
                    <p>·&nbsp;<b style="background-color: transparent;">Dados que geramos sobre você</b><span style="background-color: transparent;">&nbsp;decorrentes do seu relacionamento com o XPTO Bank, como por exemplo informações sobre contratação e uso de produtos e serviços ou quando você interage conosco pelos nossos Sites, Aplicativos, canais, estabelecimentos, centrais e locais de atendimento.</span></p>
                    <p>·&nbsp;<b>Dados recebidos de terceiros</b>&nbsp;são aqueles fornecidos por terceiros sobre você, mesmo que você não seja cliente do XPTO Bank, inclusive por empresas ou órgãos com os quais o XPTO Bank ou você tenha alguma relação, bem como fornecedores e parceiros. Alguns exemplos de casos em que isso ocorre são:</p>
                    <br>
                    <p>·&nbsp;Alguém realiza uma transação financeira com você, como uma transferência bancária ou pagamento de boleto;</p>
                    <p>·&nbsp;Quando você é beneficiário ou Usuário de algum produto contratado por um terceiro, como cartão, seguro ou previdência;</p>
                    <p>·&nbsp;A empresa ou órgão em que você trabalha nos fornece informações sobre você para o fornecimento de produtos e serviços a você, como para o pagamento do seu salário pelo XPTO Bank, para concessão ou consignação de crédito ou produtos de previdência;</p>
                    <p>·&nbsp;Realizamos o pagamento de benefícios originados de órgãos públicos;</p>
                    <p>·&nbsp;Um cliente, contraparte, parceiro ou prestador de serviços indica você como seu sócio, representante, empregado, procurador ou contato;</p>
                    <p>·&nbsp;Um parceiro ou prestador de serviços nos fornece informações sobre você para a oferta ou contratação de produtos e serviços;</p>
                    <p>·&nbsp;Parceiros compartilham informações sobre seus hábitos de consumo para a análise de crédito para viabilizar oferta e/ou a contratação de produtos e serviços.&nbsp;</p>
                    <p>·&nbsp;Buscamos informações sobre você ou confirmamos informações que você nos fornece para as nossas atividades, como realizar ou melhorar o seu cadastro e sua experiência, prevenir fraudes e cumprir outras obrigações legais;</p>
                    <p>· Quando você nos autoriza a acessar e utilizar seus dados fornecidos por outras instituições por meio do Open Finance como, por exemplo, dados cadastrais, financeiros, de seguros e previdência.</p>
                    <br>
                    <br>
                    <h3><b>3.PARA QUE USAMOS OS SEUS DADOS?</b></h3>
                    <p>O XPTO Bank realiza o tratamento de dados pessoais de acordo com as bases legais previstas na Lei Geral de Proteção de Dados (LGPD), como por exemplo, para cumprimento de obrigações legais e regulatórias; execução de contrato; proteção do crédito; para atender os interesses legítimos do XPTO Bank, dos nossos clientes e de terceiros; proteção da vida ou da incolumidade física do Titular ou de terceiros; nas situações em que o consentimento do Titular dos Dados Pessoais for coletado e para o exercício regular de direitos.</p>
                    <p>Poderemos tratar Dados Pessoais e outras informações para diversas finalidades relacionadas ao desempenho das atividades do Conglomerado XPTO Bank, conforme exemplos descritos abaixo:</p>
                    <p>· Realizar as nossas atividades, prestar os nossos serviços e fornecer os nossos produtos no nosso relacionamento com você:</p>
                    <p>·&nbsp;Realizar e manter o seu cadastro atualizado, verificar sua identidade e eventuais outras informações;</p>
                    <p>·&nbsp;Dar cumprimento e realizar ações relacionadas ao contrato, inclusive etapas anteriores à contratação, durante e após a contratação. Atividades como avaliação de propostas de contratação, atendimento nos nossos canais e processos operacionais para garantir a melhor experiência e atendimento para os nossos clientes;</p>
                    <p>·&nbsp;Atender os nossos clientes, potenciais clientes e terceiros, inclusive tratando dúvidas, reclamações, sinistros, solicitações e suporte pelos nossos canais de atendimento, possibilitando o seu contato conosco sempre que necessário, e o contrário também;</p>
                    <p>·&nbsp;Envio de comunicações sobre produtos e serviços contratados por você, necessários para o cumprimento do contrato;</p>
                    <p>·&nbsp;Avaliações e exercício regular de direitos necessários para execução de contratos, como por exemplo, informações sobre a sua saúde necessárias para a contratação de determinados produtos, como de seguros, ou ainda para a avaliação de sinistros relacionados;</p>
                    <p>· Seleção e contratação de colaboradores do XPTO Bank.</p>
                    <p>· Entender os nossos clientes e oferecer produtos mais adequados às suas necessidades e perfil:</p>
                    <p>·&nbsp;Avaliar o perfil, identificar oportunidades e realizar oferta e contratação de produtos, serviços, iniciativas e benefícios do Conglomerado XPTO Bank e/ou de parceiros estratégicos mais adequados ao perfil, interesses e necessidades, para clientes atuais, potenciais e terceiros, inclusive por meio de e-mail marketing ou outras comunicações. Você pode gerenciar os meios pelos quais prefere receber nossas ofertas ou optar por não mais recebê-las em nossos canais de atendimento;</p>
                    <p>·&nbsp;Analisar informações demográficas e de interesses dos Usuários, por meio de ferramentas de <i>analytics</i> como Google Analytics e Facebook Ads, visando compreender o público-alvo das campanhas de publicidade;</p>
                    <p>·&nbsp;Avaliar os comportamentos de navegação e o perfil dos Usuários e clientes, inclusive para entender se o Usuário chegou até os Sites e Aplicativos por meio de acesso direto, links ou cookies próprios ou de terceiros, por exemplo;</p>
                    <p>·&nbsp;Realizar campanhas de marketing e utilizar tecnologias da informação e soluções de propaganda online;</p>
                    <p>·&nbsp;Realizar pesquisas com o público para melhoria dos nossos produtos, serviços, atendimento e iniciativas.</p>
                    <p>· Realizar análises estratégicas de produtos e serviços contratados em outras instituições financeiras para evolução dos nossos próprios produtos e serviços e para oferecer produtos e serviços mais adequados ao seu perfil.</p>
                    <p>· Segurança e risco:</p>
                    <p>·&nbsp;Identificar, prevenir e gerenciar eventuais riscos de segurança, física ou cibernética, sua, do XPTO Bank ou de terceiros;</p>
                    <p>· Prevenir fraudes e garantir a segurança, inclusive com utilização de sua biometria (facial, digital ou outra), bem como sua geolocalização, em quaisquer produtos, serviços, Sites e Aplicativos do XPTO Bank, para processos de identificação e/ou autenticação em sistemas eletrônicos próprios ou de terceiros, que também podem ser Controladores de Dados Pessoais, inclusive pelo desenvolvimento e/ou uso de ferramentas antifraude;</p>
                    <p>· Analisar perfil, identificar, gerenciar e tratar potenciais riscos na oferta e contratação de produtos e/ou serviços e nas demais atividades do XPTO Bank, como os riscos de crédito, riscos operacionais, riscos reputacionais, riscos de mercado, entre outros riscos. Monitorando esses riscos também estamos cuidando da segurança dos nossos clientes;</p>
                    <p>·&nbsp;Atividades relacionadas à proteção do crédito, como avaliação e gerenciamento de risco de crédito, avaliação de situação financeira e patrimonial, cobrança, cessão de crédito, atividades relacionadas à informação e consulta a entidades de proteção ao crédito e cadastro positivo, entre outras.</p>
                    <p>· Cumprimento de obrigações legais e regulatórias:</p>
                    <p>· Cumprir obrigações legais, regulatórias e de autorregulação, como por exemplo: atividades de auditoria interna e compliance, prevenção aos crimes de lavagem de dinheiro e financiamento ao terrorismo e outros ilícitos, atividades de <i>know your client – KYC</i> e outras atividades de gerenciamento de riscos, reportes à Receita Federal, medidas de prevenção à fraude, prestação de informações ao Banco Central e outros órgãos competentes, do Brasil e do exterior, para cumprimento de normas, comunicação de operações suspeitas ao Coaf, prova de vida de beneficiário do INSS, avaliação de representantes legais e sócios de empresas, entre outras atividades;</p>
                    <p>·&nbsp;Cumprir ordens e decisões judiciais, administrativas e arbitrais.</p>
                    <p>·&nbsp; Proteger os seus direitos, do XPTO Bank e de terceiros:</p>
                    <p>· Para o exercício regular de direitos, inclusive em contratos e processos judiciais, extrajudiciais, administrativos ou arbitrais.</p>
                    <p>· Manter, criar e melhorar as nossas atividades:</p>
                    <p>·&nbsp;Analisar, criar e aperfeiçoar os nossos produtos, serviços, atividades, sejam internas ou externas, iniciativas, projetos, recursos e funcionalidades das nossas plataformas, Sites e Aplicativos, inclusive para melhorar o seu acesso e utilização e fornecer a melhor experiência para você;</p>
                    <p>·&nbsp;Medir e entender a interação dos Usuários e clientes conosco, inclusive em redes sociais e em nossos canais, assim como a utilização dos nossos produtos, serviços, atividades, iniciativas, Sites e Aplicativos e a satisfação dos Usuários e clientes. Assim podemos criar, manter e melhorar os nossos produtos, serviços e nossos canais de atendimento;</p>
                    <p>·&nbsp;Execução de processos de negócios, gerenciamento interno e gerencial. Tratamos seus dados para nossas atividades e para nos ajudar a tomar melhores decisões sobre nossas operações, negócios, serviços, produtos, atividades e iniciativas;</p>
                    <p>·&nbsp;Atividades relacionadas à contratação e relacionamento com fornecedores, prestadores de serviços e outros terceiros.</p>
                    <p>· Outras situações de Tratamento baseadas em finalidades legítimas, como por exemplo o apoio e promoção de atividades do XPTO Bank ou para a prestação de serviços que beneficiem os nossos clientes.</p>
                    <p>· Promover eventos, realizar patrocínios e outras atividades e iniciativas.</p>
                    <br>
                    <br>
                    <h3><b>4. AS INFORMAÇÕES PODEM SER COMPARTILHADAS?</b></h3>
                    <p>O XPTO Bank somente compartilha suas informações quando é necessário ou pertinente para as finalidades previstas nos contratos com os nossos clientes e nessa Política de Privacidade, dentro de padrões rígidos de segurança, sempre visando a confidencialidade das suas informações e seguindo as normas de sigilo bancário e demais normas de proteção de dados e da privacidade.</p>
                    <p>Exemplos de situações de compartilhamento são:</p>
                    <p>·&nbsp;Entre as empresas do Conglomerado XPTO Bank e com fundação ou entidade que tenha qualquer destas empresas como mantenedora ou que de qualquer forma seja gerida ou vinculada ao Conglomerado XPTO Bank, inclusive&nbsp;para o desenvolvimento de nossas atividades, oferta e prestação de serviços e fornecimento de produtos, gerenciamento de riscos, cumprimento de obrigações legais e demais finalidades previstas nessa Política;</p>
                    <p>·&nbsp;Com parceiros estratégicos, inclusive para oferta, contratação e uso de produtos e serviços destes, ou ainda desenvolvidos em conjunto ou que possam ter um benefício para você;</p>
                    <p>·&nbsp;Com prestadores de serviços, fornecedores, corretoras, inclusive de valores e seguros, e correspondentes contratados pelo XPTO Bank para o desenvolvimento de nossas atividades;</p>
                    <p>·&nbsp;Com órgãos reguladores, outras entidades públicas, instituições do sistema financeiro e terceiros, inclusive para cumprimento e execução de obrigações legais, regulatórias e contratuais e para a proteção e o exercício regular de direitos;</p>
                    <p>·&nbsp;Para cumprimento de requisições, solicitações e decisões de autoridades judiciais, administrativas ou arbitrais;</p>
                    <p>·&nbsp;Para identificação, prevenção e investigação de possíveis infrações ou atos ilícitos (inclusive fraude, lavagem de dinheiro e financiamento ao terrorismo);</p>
                    <p>·&nbsp;Para prevenir riscos, fraudes e garantir a segurança, inclusive com utilização de sua biometria (facial, digital ou outra) em processos de identificação e/ou autenticação em sistemas eletrônicos próprios ou de terceiros, que também são Controladores de Dados Pessoais;</p>
                    <p>·&nbsp;Situações em que o compartilhamento seja relevante ou necessário para criação, oferta, manutenção, funcionamento e melhoria dos nossos Sites e Aplicativos, bem como das atividades, das iniciativas e dos produtos e serviços do Conglomerado XPTO Bank e de parceiros estratégicos;</p>
                    <p>·&nbsp;Com bureaus de crédito, inclusive de acordo com o disposto na legislação aplicável, como para cumprimento da legislação do cadastro positivo, nos casos de negativação, entre outros;</p>
                    <p>·&nbsp;Com outras instituições financeiras, inclusive quando necessário, para o processamento de alguma transação ou outras atividades para execução de contrato;</p>
                    <p>·&nbsp;Compartilhamento de informações anonimizadas, agrupadas, de cookies ou de outras informações ou formas que não possibilitem a identificação pessoal dos Titulares de Dados;</p>
                    <p>·&nbsp;Nos casos de aquisição, fusão ou outras reorganizações societárias;</p>
                    <p>·&nbsp;Situações em que o seu consentimento pode ser necessário e, caso seja, solicitaremos o seu consentimento oportunamente.</p>
                    <br>
                    <br>
                    <h3><b>5. SOBRE OS COOKIES</b></h3>
                    <p>Os cookies permitem a coleta de dados relacionadas à navegação dependendo do tipo de dispositivo usado, das autorizações concedidas por você através das configurações de seu dispositivo e das funcionalidades utilizadas em cada aplicação. Podemos utilizar cookies próprios ou de terceiros em nossos Sites e Aplicativos.</p>
                    <br>
                    <h4><b>O que são cookies?</b></h4>
                    <p>São pequenos arquivos de texto que podem ou não ser adicionados no navegador do dispositivo. Estes arquivos armazenam e reconhecem dados que garantem o correto funcionamento dos Sites e Aplicativos e nos ajudam a identificar suas preferências e melhoras suas experiências.</p>
                    <br>
                    <h4><b>Tipos de cookies e suas finalidades</b></h4>
                    <p>Os cookies podem coletar dados para diferentes finalidades relacionadas às funcionalidades de nossos Sites e Aplicativos. Confira a seguir os tipos que utilizamos:</p>
                    <p>·&nbsp;Funcionamento: para garantir o correto acesso e funcionamento das aplicações;</p>
                    <p>·&nbsp;Autenticação: para reconhecer o Usuário, possibilitando o seu acesso, inclusive, a áreas de acesso restrito e utilizados também para oferecer conteúdo, ofertas e/ou serviços de parceiros estratégicos;</p>
                    <p>·&nbsp;Segurança: para auxiliar no monitoramento e detecção de atividades não autorizadas, na prevenção à fraude e na proteção das informações dos Usuários, suas, do Conglomerado XPTO Bank e de terceiros;</p>
                    <p>·&nbsp;Pesquisa, análise e desempenho: para verificar, medir e analisar a audiência, o desempenho, a utilização das aplicações pelos Usuários;</p>
                    <p>·&nbsp;Propaganda: para apresentar publicidade relevante do Conglomerado XPTO Bank e de parceiros de acordo com o perfil do Usuário e para saber se os Usuários a visualizaram, tanto em nossos ambientes quanto em sites e aplicativos de parceiros. Também podem ser utilizados para lembrar eventuais pesquisas realizadas pelos Usuários, e com base no resultado dessas pesquisas, mostrar anúncios ou ofertas de produtos, serviços e iniciativas de seu interesse.</p>
                    <br>
                    <h4><b>Posso desativar os cookies e as outras formas de coleta de informações?</b></h4>
                    <p>Você pode desativar ou excluir os cookies, bem como demais tecnologias de coleta de dados, nas configurações do seu navegador e nas configurações do sistema operacional do seu dispositivo, com exceção dos cookies de funcionamento que, se desativados, não permitirão o uso dos Sites e Aplicativos.</p>
                    <p>Apenas lembramos que se determinados cookies forem desabilitados, os Sites ou Aplicativos ou alguns de seus recursos ou funcionalidades poderão não funcionar corretamente.</p>
                    <br>
                    <br>
                    <h3><b style="background-color: transparent;">6. TRANSFERÊNCIA INTERNACIONAL DE DADOS</b></h3>
                    <p>Os seus Dados Pessoais poderão ser transferidos e tratados em outros países, de acordo com as hipóteses previstas na LGPD e legislação aplicável, para as finalidades previstas nesta Política de Privacidade.</p>
                    <p>Por exemplo, os dados podem ser transferidos para o exterior caso seja necessário para a execução de contrato (como transações de cartão de crédito realizadas no exterior ou transações de cartões estrangeiros realizadas no Brasil, câmbio e outras operações bancárias, financeiras, securitárias e de investimento com outras empresas do Conglomerado XPTO Bank no exterior ou outras instituições financeiras); para o cumprimento de obrigações legais e regulatórias do XPTO Bank; para o exercício regular de direitos em processos administrativos, judiciais ou arbitrais ou para a investigação de crimes e outros ilícitos. Ainda, a transferência internacional de dados pode ocorrer para o desenvolvimento das atividades do XPTO Bank, mediante a adoção de medidas de proteção dos Dados Pessoais.</p>
                    <br>
                    <br>
                    <h3><b>7. POR QUANTO TEMPO MANTEMOS SEUS DADOS?</b></h3>
                    <p>O prazo pelo qual o XPTO Bank mantém os Dados Pessoais coletados depende do propósito e da natureza do tratamento dos dados. Nós trataremos seus dados pelo período necessário para o cumprimento de obrigações legais, regulatórias e contratuais, para continuar a fornecer e aprimorar nossos produtos e serviços, para o gerenciamento de riscos, para o exercício regular de direito em processos administrativos, judiciais e arbitrais e para as demais finalidades previstas nesta Política de Privacidade.</p>
                    <br>
                    <br>
                    <h3><b>8. SEGURANÇA DOS DADOS</b></h3>
                    <p>A segurança e proteção de dados pessoais e das informações do XPTO Bank é uma prioridade para nós. O XPTO Bank estabelece processos e controles para prevenção, detecção e resposta a incidentes e proteção dos seus dados de acessos e usos não autorizados, garantindo a gestão do risco de segurança, inclusive cibernética, e a construção de um alicerce robusto de segurança.</p>
                    <p>Consideramos que a informação deve ser protegida independentemente de onde ela esteja, seja em um prestador de serviço ou em uma unidade internacional, ou em parceiro, em todo o seu ciclo de vida, desde o momento que ela é coletada, passando pelo processamento, transmissão, armazenamento, análise e seu descarte.</p>
                    <p>Cuidamos dos dados seguindo padrões rígidos de segurança e confidencialidade, para fornecer aos nossos usuários e clientes um ambiente seguro e confiável. Usamos ferramentas e tecnologias para manter a integridade e confidencialidade das informações e protegê-las de acessos não autorizados.</p>
                    <p>Adicionalmente, restringimos o acesso aos dados na medida necessária, com rígidas obrigações de confidencialidade e sigilo e mediante a adoção de critérios de segurança.</p>
                    <br>
                    <br>
                    <h3><b>9. SEUS DIREITOS</b></h3>
                    <p>A LGPD garante direitos aos Titulares dos Dados. Como Titular dos seus Dados Pessoais, você pode nos fazer os seguintes requerimentos:</p>
                    <p>·&nbsp;Acesso e confirmação da existência de tratamento dos dados pessoais;</p>
                    <p>· Atualização, correção de dados incompletos, inexatos ou desatualizados</p>
                    <p>·&nbsp;Anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto na LGPD;</p>
                    <p>·&nbsp;Portabilidade dos dados, observadas as normas aplicáveis e os segredos comercial e industrial;</p>
                    <p>·&nbsp;Informação das entidades públicas e privadas com as quais o Controlador realizou uso compartilhado de dados</p>
                    <p>·&nbsp;Informação sobre a possibilidade de não fornecer consentimento e sobre as consequências da negativa;</p>
                    <p>·&nbsp;Revogação de consentimento que poderá ser realizada a qualquer momento e sem ônus, mediante manifestação expressa;</p>
                    <p>·&nbsp;Solicitar a eliminação dos Dados Pessoais Tratados com o consentimento, exceto nas hipóteses em que a manutenção dos dados é necessária ou permitida pela legislação;</p>
                    <p>·&nbsp;Oposição a Tratamento realizado com fundamento em outras bases legais, em caso de descumprimento da LGPD, ressaltando que pode haver situações em que poderemos continuar a realizar o Tratamento e recusar o seu pedido de oposição;</p>
                    <p>·&nbsp;Solicitar a revisão de decisões tomadas unicamente com base em Tratamento automatizado de Dados Pessoais que o afetem, como decisões de crédito;</p>
                    <p>·&nbsp;Solicitar o cancelamento do envio de ofertas direcionadas de produtos e serviços do XPTO Bank pelos nossos canais.</p>
                    <p>Para exercer seus direitos sobre os seus Dados Pessoais, você pode acionar os nossos canais de atendimento.</p>
                    <p>Reforçamos que poderemos manter alguns dados e/ou continuar a realizar o Tratamento, mesmo no caso de solicitação de eliminação, oposição, bloqueio ou anonimização, em algumas circunstâncias, como para cumprimento de obrigações legais, contratuais e regulatórias, para resguardar e exercer direitos do XPTO Bank, dos Usuários e clientes, para prevenção de atos ilícitos e em processos judiciais, administrativos e arbitrais, inclusive por questionamento de terceiros sobre suas atividades e em outras hipóteses previstas em lei.</p>
                    <br>
                    <br>
                    <h3>
                        <b style="background-color: transparent;">GLOSSÁRIO</b><br>
                    </h3>
                    <p>Os termos abaixo são usados nos nossos Termos de Uso e Política de Privacidade.</p>
                    <p>·&nbsp;<b>Conglomerado XPTO Bank&nbsp;</b>ou apenas<b>&nbsp;XPTO Bank:&nbsp;</b>inclui o XPTO Bank Holding S.A., o XPTO Bank S.A., e as demais sociedades controladoras ou controladas, diretamente ou indiretamente, isolada ou conjuntamente com terceiros, por tais empresas e coligadas, no Brasil e no exterior, que incluem, por exemplo,&nbsp;o Banco XPTO card S.A., Banco XPTO BBA S.A., Banco XPTO Consignado S.A., XPTO Administradora de Consórcios Ltda., XPTO Seguros S.A., XPTO Corretora de Seguros S.A., XPTO Vida e Previdência S.A., Financeira XPTO CBD S.A. Crédito, Financiamento e Investimento, Luizacred S.A. Sociedade de Crédito, Financiamento e Investimento, Hipercard Banco Múltiplo S.A., XPTO Corretora de Valores S.A., XPTO Distribuidora de Títulos e Valores Mobiliários S.A., Microinvest S.A. Sociedade de Crédito a Microempreendedor, Redecard S.A.</p>
                    <p>·&nbsp;<b>Controlador:</b>&nbsp;pessoa natural ou jurídica, de direito público ou privado, a quem competem as decisões referentes ao Tratamento de Dados Pessoais.</p>
                    <p>·&nbsp;<b>Dado Pessoal:</b>&nbsp;informação relacionada a pessoa natural identificada ou identificável.</p>
                    <p>·&nbsp;<b>Dado Pessoal Sensível:</b>&nbsp;dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural.</p>
                    <p>·&nbsp;<b>Endereço de Protocolo de Internet (Endereço IP):</b>&nbsp;código atribuído a um terminal de uma rede para permitir sua identificação, definido segundo parâmetros internacionais.</p>
                    <p>·&nbsp;<b>Sites e Aplicativos:</b>&nbsp;sites e aplicativos do Conglomerado XPTO Bank que podem ser acessados por Usuários.</p>
                    <p>·&nbsp;<b>Titular de Dados Pessoais:</b>&nbsp;pessoa natural a quem se referem os dados pessoais que são objeto de tratamento.</p>
                    <p>·&nbsp;<b>Tratamento:</b>&nbsp;toda operação realizada com Dados Pessoais, como as que se referem a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.</p>
                    <p>·&nbsp;<b>Usuários:</b>&nbsp;todas as pessoas que visitarem e acessarem os Sites e Aplicativos. Também podemos nos referir ao Usuário e ao Titular de Dados Pessoais como “você”.</p>
                    <br>
                    <br>
                    <p>Atualização: Junho de 2023.</p>
                </div>
            </div>
        </div>
    </section>
</div>
