@page
@model LoginModel

@{
    ViewData["Title"] = "Login - XPTO Bank";
}

<main class="form-signin">
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex justify-content-center">
            <img class="mb-4 d-flex" src="~/img/logoLogin.png" alt="logo" width="150" />
        </div>
        <div class="d-flex justify-content-center">
            <h1 class="h1 mb-3 fw-normal">Login</h1>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" id="floatingInput" placeholder=" " />
            <label asp-for="Input.Email" for="floatingInput">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-envelope mb-1" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
                </svg> Email
            </label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control mb-3" autocomplete="current-password" aria-required="true" id="floatingPassword" placeholder=" "/>
            <label asp-for="Input.Password" class="form-label" for="floatingPassword">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                </svg> Senha
            </label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>        
        <div class="d-flex justify-content-between">
            <button id="login-submit" type="submit" class="btn btn-lg btn-primary">Login</button>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-lg btn-warning">Cadastrar</a>
        </div>        
    </form>
</main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
